html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,*::before, *::after {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;

}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

ul, ol, li {
  @include list-global;
}

a{
  text-decoration: none;
}