.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    padding-top: 10px;
}

.bg-container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}