/* saytning tepa qismi uchun */



.header {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header__list {
    display: flex;
}
.header__item {
    padding: 33px;
}
.header__nav-link--active {
    font-size: 20px;
    color: #83888F;
}

.header__nav{
    padding-right: 815px;
    margin-left: 30px;
}

.header__nav-link {
    font-family: monospace;
    font-family: 'Space Mono', 'Arial', 'sans-serif';
    display: inline-block;
    color: #83888F;
    font-size: 12px;
    line-height: 15px;
}

.header__nav-link:hover{
    color: #333D4B;
}

.header__nav-link:active{
    color: rgba(226, 236, 236, 0.685);
}


@media only screen and (max-width:768px){
    .header {
        
        &__nav-link {
            margin-left: 10px;
        }
    }
}



